body {
  background-color: rgb(86, 116, 120);
  color: rgb(238, 233, 215);
  font-family: sans-serif;
  padding: 1rem;

  h1 {
      font-size: 1.7rem;
      margin: 0;
  }
  .bookArea {

    fieldset.book {
      background-color: rgb(35, 138, 152);
      margin-bottom: 1rem;
      padding: 1rem;
      border: 1px solid rgb(0, 225, 255);
      color: rgb(255, 243, 243);
      max-width: 42rem;

      legend {
        font-size: 1rem;
        color: orange;
        font-family: monospace;
      }

      .row {
        display: flex;
        align-content: start;
        margin: 0 0 10px 0;

        label {
          &:after {
            content: ":";
          }

          width: 7rem;
          margin: 0 10px 10px 0;
          font-size: 1.3rem;
          padding: .5rem;
        }

        div {
          color: #fff;
          font-size: 1.3rem;
          font-family: monospace;
          color: #000;
          background-color: rgb(86, 116, 120);
          padding: .5rem;
          border: 1px solid #4c4c4c;
          border-radius: 5px;
        }

      }
    }
  }
}
 